PORT=3111
SALT=TooMuchAllSalted
MONGO_DB_HOST=127.0.0.1
MONGO_DB_PORT=27017
MONGO_DB_NAME=guitar-shop-users-mongo
MONGO_DB_USER=admin
MONGO_DB_PASSWORD=test
MONGO_DB_AUTH_BASE=admin
JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=30d
HOST=localhost
RABBIT_HOST=localhost
RABBIT_PASSWORD=test
RABBIT_PORT=5672
RABBIT_USER=admin
RABBIT_BINDING_KEYS=REGISTER_USER
REGISTER_USER=notify.register|guitarShop.notify|register
